<h1>Hello Walkover</h1>
<div> 
    <h2>Registration</h2>
    <form action="/register" method="POST">
        <input type="Name" placeholder="Name" name="name">
        <input type="email" placeholder="email" name="email">
        <input type="number" name="mobile" placeholder="Enter your mobile number">
        <input type="password" placeholder="password" name="password">
        <input type="password" placeholder="confirm password" name="reEnterPassword">
        
        <input type="submit">
    
    
    </form>
</div>

<div>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="email" placeholder="email" name="emails">
        <input type="password" placeholder="password" name="passwords">
        <input type="submit">
    
    
    </form>
</div>
