<h1>Hello Walkover</h1>
<div> 
    <h2>Registration</h2>
    <form action="/register" method="POST">
        <input type="Name" placeholder="Name" name="Name">
        <input type="email" placeholder="email" name="Email">
        <input type="password" placeholder="password" name="Password">
        <input type="submit">
    
    
    </form>
</div>

<div>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="email" placeholder="email" name="Emails">
        <input type="password" placeholder="password" name="Passwords">
        <input type="submit">
    
    
    </form>
</div>
